

{% load static %}
<html>

<nav>
    <ul>
        <li><a href="../login">Log In</a></li>
        <li><a href="../mensajes">Mensajes</a></li>
    </ul>
</nav>

<script src="{% static 'mensajes/mensajes.js' %}"></script>

<input type="text" id="message">
<button  onclick="send_message()">enviar mensaje</button>
<p id="sendResult" cols="30" rows="10"></p>
<br><br>
<input type="text" id="messageId">
<button onclick="get_message()">obtener mensaje</button>
<p id="getResult" cols="30" rows="10"></p>
<br><br>
<button onclick="get_messages()">Ver Mensajes</button>
<br><br>
<table id="table">

</table>

<div id="result"></div>
</html>